:root {
  --bg-color: rgb(0, 0, 25);
  --node-size: 128px;
  --orbit-size: 256px;
  --button-width: 128px;
}

body {
	background: radial-gradient(rgb(5, 5, 25), rgb(0,0,0));
	/*background: radial-gradient(rgb(0, 0, 25), #000);
	background: radial-gradient(rgb(25, 25, 100), #000);
	background: radial-gradient(rgb(150, 150, 255), #000);*/
  /*background: radial-gradient(rgb(230 100 101), rgb(145 152 229));*/
	text-align: center;
	user-select: none;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

html {
	cursor: url(cursor.png), auto;
}

*,* {
	color: #fff;
	font: 14px sans-serif;
	margin: 0;
	padding: 0;
	pointer-events: none;
}

#cursor {
	position: fixed;
	display: block;
	width: 5px;
	height: 5px;
	border-radius: 100%;
	background: rgba(255, 255, 255, 1.0);
	animation: flicker;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
	z-index: 9999;
}

div {
	position: absolute;
	display: block;
	border-radius: 50%;
}

button {
	pointer-events: all;
	background: transparent;
	color: rgba(255, 255, 255, 0.5);
	width: var(--button-width);
	border: 0;
	box-sizing: border-box;
	padding-top: 16px;
	padding-bottom: 16px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 10%/10%;
	position: fixed;
	bottom: 16px;
	text-align: center;
}

button:hover {
	color: rgba(255, 255, 255, 0.7);
}

button span {
	display: block;
	color: inherit;
}

#train {
	left: 50%;
	margin-left: calc(var(--button-width)*1.13*-1);
}

#upgrade {
	right: 50%;
	margin-right: calc(var(--button-width)*1.13*-1);
}

.notice {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 16px;
	background: #445;
}

.node {
	width: var(--node-size);
	height: var(--node-size);
	top: 50%;
	left: 50%;
	margin-left: calc(var(--node-size)/2*-1);
	margin-top: calc(var(--node-size)/2*-1);
	background: rgba(255, 255, 255, 0);
	pointer-events: all;
	transition: transform 3s, background-color 3s, border-radius 2s;
	transform: rotate(45deg);
/*	box-shadow:
		0 0 50px 5px rgba(255, 255, 255, 0.7),
		0 0 10px 5px rgba(255, 255, 255, 0.9),
		inset 0 0 20px rgba(0, 0, 25, 0.2);*/
}

.node::before {
	color: #000;
	width: var(--node-size);
	height: var(--node-size);
	text-align: center;
	line-height: var(--node-size);
	display: block;
	font-weight: bold;
	content: attr(data-energy);
	transform: rotate(-45deg);
}

.orbit {
	position: absolute;
	pointer-events: none;
/*	outline: 16px solid rgba(0,0,0,0.1);*/
	top: 50%;
	left: 50%;
	transform: translateZ(0);

}

.satellite {
	position: absolute;
	pointer-events: none;
	top: 50%;
	left: 50%;
  animation-duration: 0.9s;
	animation-timing-function: linear;
	animation-name: rotate;
}

.satellite.running  {
  	border-color: #fff;
}

.satellite-node {
	width: 16px;
	height: 8px;
	border-radius: 50% 50% 50% 50%;
	background: #fff;
	top: -16px;
	left: 50%;
	margin-left: calc(-24px/2);
	transition: transform 1s, opacity 2s;
	opacity: 1;
}

.satellite-node.new {
	transform: translate(-5vw, -50vh) scale(0.3);
	opacity: 0;
}

.satellite-node.collecting {
	opacity: 1;
}

.satellite-node.leaving {
	transition: transform 15s, opacity 4s;
	transform: translate(0, -100vw) scale(3);
	opacity: 1;
}

.blob-orbit {
	position: absolute;
	top: 2%;
	left: 2%;
	width: 200px;
	height: 200px;
	animation: rotate 6s infinite;
	animation-timing-function: linear;
}

.blob {
	position: absolute;
	pointer-events: all;
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 100%;
	background: rgba(255, 255, 200, 1.0);
	animation: rotate 5s, morph 4s, blob-flicker 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	top: -6px;
	left: 50%;
}
.reverse {
	animation-direction: reverse;
}
.blob:after {
    content:'';
    position:absolute;
    top: -16px;
    bottom: -16px; 
    left: -16px;
    right: -16px; 
}

.blob.acquire {
	pointer-events: none;
	transition: opacity 0.3s;
	opacity: 0;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes blob-flicker {
  0% {
    box-shadow:
    	0 0 5px 5px rgba(255, 255, 200, 0.2),
    	0 0 0px 2px rgba(255, 255, 200, 1);
  }

  50% {
    box-shadow: 0 0 20px 5px rgba(255, 255, 200, 0.7);
  }

  100% {
    box-shadow:
    	0 0 5px 5px rgba(255, 255, 200, 0.2),
    	0 0 0px 2px rgba(255, 255, 200, 1);
  }
}

@keyframes flicker {
  0% {
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.2);
  }

  50% {
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.7);
  }

  100% {
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.2);
  }
}

@keyframes morph {
  0% {
    border-radius: 54% 46% 70% 30% / 57% 30% 70% 43% 
  }

  20% {
    border-radius: 67% 33% 70% 30% / 42% 56% 44% 58%;
  }

  40% {
    border-radius: 61% 39% 31% 69% / 25% 38% 62% 75%;
  }

  60% {
    border-radius: 79% 21% 69% 31% / 58% 69% 31% 42%;
  }

  80% {
    border-radius: 41% 59% 43% 57% / 77% 34% 66% 23%;
  }

  100% {
    border-radius: 54% 46% 70% 30% / 57% 30% 70% 43%;
  }
}